@keyframes pulsate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.03);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes swing {
  0% {
    transform: rotate(5deg);
    transform-origin: top center;
  }

  50% {
    transform: rotate(-5deg);
    transform-origin: top center;
  }

  100% {
    transform: rotate(5deg);
    transform-origin: top center;
  }
}

.start-page {
  position: relative;
  background-image: url("../assets/startpage/jungel-backgrund.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  height: 100vh;
  width: 100%;
}

.hanging-monkey {
  position: absolute;
  top: -110px;
  left: 200px;
}

.hanging-monkey img{
  width: 300px;
  
  height: auto;
  animation: swing 2s infinite ease-in-out;
  cursor: pointer;
}

.corner-zebra {
  position: absolute;
  bottom: 0;
  left: -45px;
}
.corner-zebra img {
  width: 300px;

  height: auto;
  cursor: pointer;
}

.corner-parrot {
  position: absolute;
  top: 200px;
  right: -45px;
}
.corner-parrot img {
  width: 300px;
  height: auto;
  cursor: pointer;
}

.game-name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100vw;
  text-align: center;
}

.game-name img {
  width: 1500px;
  max-width: 90vw;
  height: auto;
}

.start-sign-button {
  position: absolute;
  bottom: -45px;
  right: 40px;
  margin: none;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.start-sign-button img {
  width: 400px;
  max-width: 45vw;
  height: auto;
  animation: pulsate 1.5s infinite ease-in-out;
  transition: transform 0.2s ease;
}

.start-sign-button:hover img {
  animation: none;
  transform: scale(1.05);
}

/* -------------------- @MEDIA QUERYS -------------------- */

@media (max-width: 2300px) {

  .start-page .hanging-monkey {
    top: -84px ;
  }

  .start-page .hanging-monkey img,
  .start-page .corner-zebra img,
  .start-page .corner-parrot img {
    width: 255px ;
  }

  .start-page .corner-zebra {
    left: -37px ;
  }


  .start-page .corner-parrot {
    position: absolute ;
    top: 30px ;
    right: -33px ;
  }

  .start-page .game-name img {
    width: 1400px ;
  }

  .start-page .start-sign-button {
    bottom: -43px ;
    right: 90px ;
  }

  .start-page .start-sign-button img {
    width: 340px ;
  }
}
@keyframes periodic-shake {
  0%, 78% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(5deg);
  }
  85% {
    transform: rotate(-5deg);
  }
  90% {
    transform: rotate(4deg);
  }
  95% {
    transform: rotate(-4deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.corner-parrot img {
  animation: periodic-shake 10s infinite;
}
.corner-zebra img {
  animation: periodic-shake 10s infinite;
  animation-delay: 5s;
}

@media (max-width: 2000px) {

  .start-page .hanging-monkey {
    top: -80px ;
  }

  .start-page .hanging-monkey img,
  .start-page .corner-zebra img,
  .start-page .corner-parrot img {
    width: 235px ;
  }

  .start-page .corner-zebra {
    left: -34px ;
  }


  .start-page .corner-parrot {
    right: -31px ;
  }

  .start-page .game-name img {
    width: 1350px ;
  }

  .start-page .start-sign-button {
    bottom: -40px ;
  }

  .start-page .start-sign-button img {
    width: 320px ;
  }
}

@media (max-width: 1800px) {

  .start-page .hanging-monkey {
    top: -77px ;
  }

  .start-page .hanging-monkey img,
  .start-page .corner-zebra img,
  .start-page .corner-parrot img {
    width: 215px ;
  }

  .start-page .corner-zebra {
    left: -32px ;
  }


  .start-page .corner-parrot {
    right: -27px ;
  }

  .start-page .game-name img {
    width: 1300px ;
  }

  .start-page .start-sign-button {
    bottom: -35px ;
  }

  .start-page .start-sign-button img {
    width: 300px ;
  }
}

@media (max-width: 1400px) {

  .start-page .hanging-monkey {
    top: -67px;
  }

  .start-page .hanging-monkey img,
  .start-page .corner-zebra img,
  .start-page .corner-parrot img {
    width: 185px ;
  }

  .start-page .corner-zebra {
    left: -25px ;
  }


  .start-page .corner-parrot {
    right: -20px ;
  }

  .start-page .game-name img {
    width: 900px ;
  }

  .start-page .start-sign-button {
    bottom: -25px ;
  }

  .start-page .start-sign-button img {
    width: 200px ;
  }
}

@media (max-width: 1280px) {

  .start-page .hanging-monkey {
    top: -57px ;
  }

  .start-page .hanging-monkey img,
  .start-page  .corner-zebra img,
  .start-page  .corner-parrot img {
    width: 165px ;
  }

  .start-page .corner-zebra {
    left: -25px ;
  }

  .start-page .corner-parrot {
    right: -20px ;
  }

  .start-page .game-name img {
    width: 800px ;
  }

  .start-page .start-sign-button {
    bottom: -25px ;
  }

  .start-page .start-sign-button img {
    width: 200px ;
  }
}

@media (max-width: 1080px) {

  .start-page .hanging-monkey {
    top: -50px ;
  }

  .start-page .hanging-monkey img,
  .start-page .corner-zebra img,
  .start-page .corner-parrot img {
    width: 150px  ;
  }

  .start-page .corner-zebra {
    left: -25px ;
  }

  .start-page .corner-parrot {
    top: 10px ;
  }

  .start-page .game-name img {
    width: 700px ;
  }

  .start-page .start-sign-button {
    bottom: -25px ;
    right: 70px ;
  }

  .start-page .start-sign-button img {
    width: 180px ;
  }
}

@media (max-width: 950px) {

  .start-page .hanging-monkey {
    top: -50px ;
    left: 100px ;
  }

  .start-page .hanging-monkey img,
  .start-page .corner-zebra img,
  .start-page .corner-parrot img {
    width: 140px ;
  }

  .start-page .corner-zebra {
    left: -25px ;
  }

  .start-page .game-name img {
    width: 600px ;
  }

  .start-page .start-sign-button {
    right: 80px ;
  }

  .start-page .start-sign-button img {
    width: 140px ;
  }
}


@media (max-width: 850px) {

  .start-page .hanging-monkey {
    top: -50px ;
  }

  .start-page .hanging-monkey img,
  .start-page .corner-zebra img,
  .start-page .corner-parrot img {
    width: 130px ;
  }

  .start-page .corner-zebra {
    left: -25px ;
  }


  .start-page .game-name img {
    width: 550px ;
  }

  .start-page .start-sign-button {
    right: 80px ;
  }

  .start-page .start-sign-button img {
    width: 140px ;
  }
}

@media (max-width: 750px) {

  .start-page .hanging-monkey {
    top: -50px ;
  }

  .start-page .hanging-monkey img,
  .start-page .corner-zebra img,
  .start-page .corner-parrot img {
    width: 120px ;
  }

  .start-page .corner-zebra {
    left: -25px ;
  }

  .start-page .game-name img {
    width: 500px ;
  }

  .start-page .start-sign-button {
    right: 80px ;
  }

  .start-page .start-sign-button img {
    width: 120px ;
  }
}


